# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS files
.DS_Store

# Uploads (optional – keep if you want images)
static/uploads/

# VS Code
.vscode/

# App runtime data
data/*.json
static/uploads/